@{
    ViewBag.Title = "Крипто.протоколы";
}

<div class="jumbotron">
    <h1>Протоколы</h1>
    <p class="lead">На данном сайте расположены реализации некоторых криптографических протоколов</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>D-Currency</h2>
        <p>Протокол распределенной валюты.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "DistributedCurrency")">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>A-Currency</h2>
        <p>Протокол анонимной валюты.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "AnonymousCurrency")">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>V-Auth</h2>
        <p>Протокол визуальной аутентификации.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "VisualAuthentication")">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>K-Deposit</h2>
        <p>Протокол депонирования ключей.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "KeyDeposit")">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>P-Encrypt</h2>
        <p>Протокол вероятностного шифрования.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "ProbabilisticEncryption")">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>E-Curves</h2>
        <p>Сумматор точек эллиптической кривой.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "EllipticCurves")">Подробнее &raquo;</a></p>
    </div>
</div>