@using Core
@using KeyDeposit
@{
    ViewBag.Title = "Как это работает?";
}

<div class="jumbotron">
    <h1>K-Deposit</h1>
    <p class="lead">Описание протокола депонирования ключей с доверенными лицами</p>
</div>

<dl class="dl-horizontal" style="font-size: 18px">
    <dt>Общее</dt>
    <dd>
        Клиент может создать открытый и закрытый ключи, разделить их; отправить открытый ключ
        центру депонирования, а часть открытого и соответствующего ему закрытого ключа &mdash; доверенным центрам.
        Доверенные центры проверяют, что части ключей соответствуют друг другу, отсылают центру депонирования
        свои части открытых ключей и там проверяется общая валидность ключевой пары.
        <br/>
        Госорганы могут запросить у центров раскрыть ключ клиента.
    </dd>
    <br/>
    
    <dt>Ключи клиента</dt>
    <dd>
        Создаются в такой последовательности:<br />
        <ol>
            <li>
                Сначала генерируется исходные значения P(простое) и G(случайное), каждое по @Secret.BytesCount байт.<br />
                Простое число генерируется проверкой чисел из отрезка (длиной @Secret.IntervalLength)
                с использованием теста простоты Рабина-Миллера со значением уверенности @Secret.PrimeCertainty.<br />
            </li>
            <li>
                На базе P и G вычисляются открытые (PK[i]) и закрытые (SK[i]) ключи для доверенных центров [1..@KDSecret.TrustedCenterCount].<br />
                Генерируется случайное SK[i] (длиной @Secret.BytesCount байт).<br />
                Вычисляется PK[i] = (G<sup>SK[i]</sup>) mod P.
            </li>
            <li>
                Затем собираются открытый и закрытый ключ клиента (из PK[i], SK[i] и P).
            </li>
            <li>
                Последним отдается открытый ключ центру депонирования (из PK[i] и P).<br />
                Тот проверяет публичные ключи у доверенных центров (сопоставляя со своим), и разрешает или запрещает пользоваться ими.
            </li>
        </ol>
    </dd>
    <br />
    
    <dt>Госорганы</dt>
    <dd>
        Вправе запрашивать у доверенных лиц части ключей и узнавать полный открытый и закрытый ключ клиента.<br />
        Обратите внимание, нужен <b>идентификатор ключа KeyId</b>, а не идентификатор записи<br />
        KeyId можно получить, нажав на идентификатор записи
    </dd>
    <br />

    <dt></dt>
    <dd>
        <p><a class="btn btn-primary" href="@Url.Action("Work", "KeyDeposit")">Приступить!</a></p>
    </dd>
</dl>